body {
    margin: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*place-items: center;*/
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
}

#root {
    margin: 0 auto;
    /*display: flex;*/
    flex-direction: column;
    place-items: flex-start;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
}

#content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    /* only horizontal scroll */
    overflow-x: auto;
}

.card {
    padding: 2em;
}
