name: Deploy

permissions: {}

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup package manager
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: production-files
          path: ./dist

  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: production-files
          path: ./dist

      - name: Upload files via SFTP
        run: |
          # avoid "host key verification failed" error by adding the host to known_hosts
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > sftp_private_key.pem
          chmod 600 sftp_private_key.pem
          sftp -i sftp_private_key.pem -P ${{ secrets.SFTP_PORT }} -r ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_SERVER }} <<< $'put -r ./dist/* /apps.flipdot.org/'