name: Deploy

permissions: {}

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup package manager
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: pnpm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: production-files
          path: ./dist

  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: production-files
          path: ./dist

      - name: Upload files via SFTP
        run: |
          # avoid "host key verification failed" error by adding the host to known_hosts
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > sftp_private_key.pem
          chmod 600 sftp_private_key.pem
          sftp -i sftp_private_key.pem -P ${{ secrets.SFTP_PORT }} -r ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_SERVER }} <<< $'put -r ./dist/* /apps.flipdot.org/'